.product{
    width: 200px;
    height: 500px;
    border: 1px solid red;
    border-radius: 8px;
    position:relative;
}
img{
    width:200px;
    height:200px;
    /* margin: 4px; */
    border-radius: 8px;
   
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
   font-weight: 400;
   font-size: 21px;
   line-height: 25px;
   letter-spacing: 0.0015em;
   color: black;
   margin-top: 0 ;
   margin-bottom: 0;
}
.product-info{
    margin-left: 14px;

}


.product-info{
    margin-left: 14px;

}
.product-info p{
    margin-top: 5px;
}
.btn-cart{
    background-color: burlywood;
    border:1px solid gray;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.btn-cart:hover{
    background-color: orange;
}